
*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
  }
header{
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: lightgreen;
}
form {
    border: 3px solid #f1f1f1;
    padding: 20px 30px;
    background-color: aliceblue;
    
}
.contactList {
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
        width: 1000px !important;
    }
#viewcontact {
        border: 3px solid #f1f1f1;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        padding: 20px 30px;
        background-color: aliceblue;
    }
#contactEdit {
    position: relative;
    width: 400px;
    background: white;
    padding: 60px 40px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 20px !important;
    height: 20px !important;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: sans-serif;
    justify-content: center;
    background: url(https://devforum.info/DEMO/LoginForm1/bg.jpg);
    background-size: cover;
    background-position: center;    
    
}
table {
    text-align: center;
    
}

tr td {
    vertical-align: middle;
}




