
*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
  }
header{
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: lightgreen;
}
form {
    border: 3px solid #f1f1f1;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding: 20px 30px;
    width: 1000px;
    background-color: aliceblue;
   
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: sans-serif;
    justify-content: center;
    background: url(https://devforum.info/DEMO/LoginForm1/bg.jpg);
    background-size: cover;
    background-position: center;    
    
}
table {
    text-align: center;
    
}

tr td {
    vertical-align: middle;
}




