<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:darkblue" padding:10px>
        Home-Products-New-About Us
    </div>
    <div>
        @RenderBody()
    </div>
    <div style="background-color:aquamarine" padding:10px>
        Copyright: by DucDaiCa 2022!
    </div>


</body>
</html>
